<%= form_with model: @task do |f| %>
	<div class="edit--form">
		<section>
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</section>
		<section>
			<%= f.label :description %><br>
			<%= f.text_field :description %>
		</section>
		<section>
			<%= f.submit action_name %>
		</section>
	</div>
<% end %>