<p>Fill in the following information to <%= verb_name %> your task:</p>

<%= form_with model: @task, class: task_form do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit submit_task, class: "task-form-button" %>

<% end %> 