<%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Please provide the following information to <%= action_name %> your task to our database:</p>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit action_name, class: "task-button" %>
<% end %>