<%= form_with model: @task do |f| %>

  <div>
   <%= f.label :name %>
   <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :completed_at %>
    <%= f.text_field :completed_at %>
  </div>

  <p>Are you sure you want to delete the</p>

  <button> <%= link_to "No", tasks_path %> </button>
  <button> <%= link_to "Yes, delete", destroy_task_path(@task.id), method: :delete %> </button>

<% end %>