<%# app/views/tasks/edit.html.erb%>
<div class="view-body">
  <h3>Edit Task</h3>
  <p>&#128204 Please fill out the applicable form fields to edit this task!</p>

  <%= form_with model:@task, class: "new-form" do |f| %>
    <div class="new-task">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="new-task">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <%= f.submit %>
  <% end %>
</div>

<%# the symbols in each form label (:name) generates the key in the params[:task] hash %>
<%# after testing, it does not have to correspond to any of the column names in the schema %>
