<%# app/views/tasks/edit.html.erb%>

<h3>Edit Task</h3>
<p>&#128204 Please fill out the applicable form fields to edit this task!</p>

<%= form_with model:@task do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :completed_at %>
    <%= f.text_field :completed_at %>
  </div>

  <%= f.submit %>
<% end %>

<%# the symbols in each form label (:name) generates the key in the params[:task] hash %>
<%# after testing, it does not have to correspond to any of the column names in the schema %>
