<h2>Edit Task</h2>

<%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Please provide the following information to edit your task in our database:</p>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit "Edit task", class: "edit-button" %>
<% end %>