<h2>Tasks for Today<h2>

<ul>
  <% @tasks.each do |task| %>
    <li class="task">
      <%= task[:name] %>
      <p><%= task[:description] %></p>
      <p><%= task[:completed_at] %></p>
      <p><%= link_to "Edit task", edit_task_path(task.id) %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>