<h2>Stuff to do:</h2>
<ul>
  <% @tasks.each do |task| %>
    <li>
    <h2><%= link_to task.name, task_path(task) %></h2>
     <p>Means: <%= task.description %></p> 
     <p>Completed?: <%= task.completed_at%></p>
     <%= link_to "-Delete #{task.name}-", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"}%>
     <%= link_to "-Edit Task-", edit_task_path(task) %>
     <p><%= button_to "-Complete Task #{task.name}-", complete_task_path(task.id), method: :patch %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add Task", new_task_path %>