<h1>Task List</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= link_to task.name, task_path(task.id) %>
      ID:<%= task[:id] %> 
      Name: <%= task[:name] %> 
      Desc: <%= task[:description] %> Completed at:<%= task[:completed_at] %>

      <%= link_to "Edit Task", edit_task_path(task.id) %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Task", new_task_path %>


