<h1>Tasks List</h1>

<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= link_to "Task ##{task[:id]}" , task_path(task[:id]) %><br>
      <%= task[:name] %> must <%= task[:description] %><br>
      <%= button_to "Edit Task", edit_task_path(task[:id]), method: :get %> 
      <%= button_to "#{task.task_completed ? "Completed" : "Not Completed"}", completed_task_path(task.id), method: :patch %> 
      <%= button_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Sure about that?"} %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Task", new_task_path %>



