<h3>Tasks</h3>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task.id %> - 
      <%= link_to task.name, task_path(task) %> : 
      <%= task.description %>
      <%= task.completed_at.nil? ?
        "(not completed)" :
        "(completed at " + task.completed_at.to_s + ")"
      %>
      <%= button_to "Edit", edit_task_path(task),
        method: "get"
      %>
      <%= button_to "Complete", complete_task_path(task),
        method: "patch"
      %>
      <%= button_to "Delete", task_path(task),
        method: :delete,
        data: {confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>
<h3>Select an action</h3>
<%= button_to "Add new task", new_task_path, :method => "get" %>

