<header>
  <h1>Task List</h1>
</header>

<section class="tasks">
  <div class="tasks_left">
    <%= link_to "Add new task", new_task_path, class: "task-button"%>
    <%= link_to "All tasks", tasks_path, class: "task-button"%>
  </div>
  <div class="tasks_right">
    <ol>
      <% @tasks.each do |task|  %>
        <li class="task">
          <% if task.completed_at %>
            <s><%= task.name %>: <%= task.description %></s>
          <% else %>
            <%= task.name %>: <%= task.description %>
          <% end%><br/>
          <%= link_to "Task details", task_path(task.id)%> | 
          <%= link_to "Edit task", edit_task_path(task.id)%> | 
          <%= link_to "Mark Complete", mark_complete_path(task.id), method: :patch %>  | 
          <%= link_to "Delete this task", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %> 
        </li>
      <% end %>
    </ol>
  </div>
</section>
