<h2>Stuff to do:</h2>
<%= 'tasks'.upcase%>
<ul>
  <% @tasks.each do |task| %>
    <li>
    <%= task.name.upcase %> Means: <%= task.description %> Completed?: <%= task.completed_at%>
    </li>
  <% end %>
</ul>

<%= link_to "Add Task", new_task_path %>