<ol>
  <% if @tasks.count == 0%>
    <h4> No tasks in list currently.</h4>
  <% else %>
    <% @tasks.each do |task|  %>
      <li class="task">
        <strong>
        <% if task.completed_at %>
          <s><%= task.name %></s>
        <% else %>
          <%= task.name %>
        <% end%></strong><br/>
        <%= link_to "Details", task_path(task.id)%> | 
        <%= link_to "Edit", edit_task_path(task.id)%> | 
        <% if task.completed_at %>
          <%= link_to "Mark incomplete", toggle_complete_path(task.id), method: :patch %>  
        <% else %>
          <%= link_to "Mark complete", toggle_complete_path(task.id), method: :patch %> 
        <% end%> | 
        <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %> 
      </li>
    <% end %>
  <% end %>
</ol>
