<h1>Task List</h1>

<% if @tasks.length > 0 %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        
        <%= form_with model: @task, class: 'task-complete', url: complete_task_path(task.id), method: :patch do |f| %>
          <%= f.check_box :completed_at, { onchange: 'this.form.submit()', checked: !task.completed_at.nil?  } %>
        <% end %>

        <% if task.completed_at.nil? %>
          <span>
            <%= link_to task.name, task_path(task.id) %>
            -
            <%= task.description %>
          </span>
        <% else %>
          <span class="task-complete">
            <%= link_to task.name, task_path(task.id) %>
            -
            <%= task.description %>
          </span>
        <% end %>

        <%= link_to " âœï¸", edit_task_path(task.id) %>
        <%= link_to "  ðŸš® ", task_path(task.id), method: :delete, data: { confirm: 'â—ï¸ Would you like to delete the task?'} %>




        
      </li>
    <% end %>
  </ul>
  
<% else %>
  <h3>No tasks in the system!</h3>
<% end %>

<%= link_to "âž• Add Task", new_task_path %>


<%# reference: how to update confirm pop up page %>
<%# https://stackoverflow.com/questions/15771582/rails-how-to-put-a-confirmation-popup-on-a-f-submit %>