<h3>Tasks</h3>
<ul>
  <% @tasks.each do |task|  %>
    <li class="list">
      <%= task.id %> - 
      <%= task.name %> : 
      <%= task.description %>
      <%= task.completed_at.nil? ?
        "(not completed)" :
        "(completed at " + task.completed_at.strftime("%D") + ")"
      %>
      <%= button_to "Show", task_path(task),
          method: "get", class: "button"
      %>
      <%= button_to "Edit", edit_task_path(task),
          method: "get", class: "button"
      %>
      <% if task.completed_at.nil? %>
        <%= button_to "Complete", complete_task_path(task),
            method: "patch", class: "button"
        %>
      <% else %>
        <%= button_to "Uncomplete", uncomplete_task_path(task),
            method: "patch", class: "button"
        %>
      <% end %>
      <%= button_to "Delete", task_path(task),
          method: :delete, class: "button",
          data: {confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>
<h3>Select an action</h3>
<ul>
  <li>
    <%= button_to "Add new task", new_task_path,
      method: "get", class: "button"
    %>
  </li>
</ul>