<h3>YOUR TASKS</h3>

<% if @tasks.length > 0 %>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task[:name], task_path(task) %>

        <% if task.completed_at.nil? || task.completed_at.empty? %>
          <%= button_to "Mark Complete", toggle_complete_path(task.id), method: :patch %>
        <% else %>
          <%= button_to "Mark Incomplete", toggle_complete_path(task.id), method: :patch %>
        <% end %>

        <%= button_to "Edit", edit_task_path(task.id), method: :get %>
        
        <%= button_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %>
      </li>
    <% end %>
  </ol>
<% else %>
  <h3>No tasks in the system!</h3>
<% end %>

<%= button_to "Add Task", new_task_path, method: :get %>