<h3> Task Name: <%= @task.name %></h3>
<h3> Task Description: <%= @task.description %></h3>
<h3>When was it completed? : <%= @task.completed_at %></h3>
<p><%= link_to "Edit Task", edit_task_path %></p>

 <p><%= link_to "Delete #{@task.name}", task_path(@task.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
 <p><%= link_to "List all", tasks_path %></p>