<div class="todo_card">
  <h2><%= @task[:name]%></h2>
  <br>
  <p><%= @task[:description]%></p>
  <% if @task[:status] == 'completed' %>
    <h3 class="completed">Task Completed</h3>
  <%end%>
  <div class="button_section">
    <%= button_to "Edit Task", edit_task_path(@task.id), :method => :get %>
    <%= button_to "Delete Task", delete_path(@task.id), :method => :delete, data: {confirm: "Are you sure you want to delete the task: #{@task.name}?"}%> 
    <% if @task[:status] != 'completed'%> 
      <%= button_to "Mark Task Complete", completed_path(@task.id), :method => :get%>
    <% end %> 
  </div>
</div>