<h3>Task Details</h3>
<ul>
<li>Id: <%= @task.id %></li>
<li>Name: <%= @task.name %></li>
<li>Description: <%= @task.description %></li>
<li>Completed: <%= @task.completed_at.nil? ?
  "not completed" : @task.completed_at %></li>
</ul>
<%= link_to "Edit this task", edit_task_path(@task), class: "link" %>