<h2>Selected Task:<h2>

<p><%= @task[:name] %></p>
<p><%= @task[:description] %></p>
<p><%= @task[:completed_at] %></p>
<button class="task-action"><%= link_to "Edit", edit_task_path(@task.id), class: "task-action-link" %></button>

<p><%= link_to "Back to all tasks", tasks_path, class: "task-action-link" %></p> 