<h2><%= "Task #{@task.id}" %></h2>

<div>
<p>Name: <%=@task.name%></p>
<p>Description: <%=@task.description%></p>
<p>Completed at: <%=@task.completed_at%></p>
</div>

<footer>
<p><%= link_to "Edit Task", edit_task_path %></p>
<p><%= link_to "Delete Task", task_path, method: :delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "Back to Tasks", tasks_path %></p>
</footer>