<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>



  <body>

  <h1>Task List</h1>
  <div class = "main">
    <nav class ='nav-bar'>
    <ul>
      <li><%= link_to "ADD TASK", new_task_path %> </li>
      <li><%= link_to "ALL TASKS", tasks_path %></li>
    </ul>
   <section>
    <% flash.each do |name,message| %>
        <%= message %>
    <% end %>
    </section>


    </nav>
 
    <%= yield %>
  </div>
  
  </body>
</html>
