<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>

    <h1>Task List</h1>
      <nav class='nav-bar'>
        <button><%= link_to "Show All Tasks", tasks_path %></button>
        <button><%= link_to "Add Task", new_task_path %></button>
      </nav>
  </head>

    <%= yield %>
  
</html>
