<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="all">
  <header>
    <section class="titlemain"><h1>Task List</h1></section>
    <nav class="mainnav">
      <ul class="navtitles">
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">Task List</a></li>
        <li><a href="/tasks/new">Add Task</a></li>
      </ul>
    </nav>
  </header>
    <main class="content">
      <%= yield %>
    </main>
    <footer>
    <p>Like and subscribe.</p>
    </footer>
  </body>
</html>
