<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="title"><h1>Tasks</h1></section>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/tasks">Taks List</a></li>
          <li>New Task</li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>All rights reserved</p>
    </footer>
  </body>
</html>
