<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
  <header>
  <div>
  <div>
  <section class="title"><h1>TaskList</h1><section>
  </div>
  <nav>
  <li><%= link_to "Add Task", new_task_path %></li>
  <li><%= link_to "All Task", tasks_path %></li>
  </nav>
  <header>
  </div>
  <main>
    <%= yield %>
    <main>
    <footer>
    <p>Copyright Ada 13 2020</p>
    </footer>
  </body>
</html>
