<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex align-items-stretch">
  <header class="d-flex flex-column">
    <section class='title'><h1>TaskList<h1></section>
    <nav>
      <ul class="option-button d-flex flex-sm-column">
      <%= link_to 'Home', tasks_path ,class: 'btn btn-outline-secondary btn-sm'%>
      <%= link_to "Add New Task", new_task_path,class: 'btn btn-outline-secondary btn-sm' %>
      <ul>
    </nav>
  </header>
    <main  class="p-3" >
    <%= render "tasks/flash" %>
    <div class="container">
      <%= yield %>
    </div>
    </main>
  </body>
    <%# <footer class="page-footer font-small blue pt-4">
      <p>All rights Reserved</p>
    </footer> %>
</html>
