<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <section class='title'><h1>TaskList<h1></section>
  </header>
    <nav>
      <ul>
      <%= link_to '<button type="button">Home</button>'.html_safe, tasks_path %></li>
      <%= link_to '<button type="button">Add New Task</button>'.html_safe, new_task_path %></li>
      <ul>
    </nav>
    <%= render "tasks/flash" %>
    <%= yield %>
  </body>
</html>
