<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
        <section class="title"><h3>TASKLIST</h3>
    </header>

  <body>
    <main> 
      <nav>
        <ul>
          <li> <a href="/tasks">All Tasks</a></li>
        </ul>
      </nav>
    <%= yield %>
    </main>
    <footer><p>copyright 2020</p></footer>
  </body>
</html>

