<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-container">
    <header class="title"><h1>TASKLIST</h1></header>
    <nav class="navbar">
      <ul class="navlist">
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">Your Tasks</a></li>
        <li> <%= link_to "New Task", new_task_path%> </li>
      </ul>
    </nav>

    <main class="app-main">
      <%= yield %>
    </main>

    <footer class="footer">COJENCO © 2020</footer>

  </body>
</html>
