<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="row row-1">
      <header class="col-md-3">
        <section class='title'><h1>TaskList<h1></section>
        <nav>
          <ul class="option-button d-flex flex-sm-column">
          <%= link_to 'Home', tasks_path ,class: 'btn btn-outline-secondary btn-sm'%>
          <%= link_to "Add New Task", new_task_path,class: 'btn btn-outline-secondary btn-sm' %>
          <ul>
        </nav>
      </header>
      <main  class="col-md-9" >
        <%= render "tasks/flash" %>
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </div>
    <footer class="row footer">
      <p> ©Sharon Cheung 2021 All rights Reserved</p>
    </footer>
  </body>
</html>
