<!DOCTYPE html>
<html>
  <head>
    <title>Tasks List Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <h1 class='main-title'><h1>Welcome to Tisk Tisk Task!</h1>
      <h3>This is the place to make your tasks come true!</h3>
      <nav>
      <ul>
      <li><%= button_to('View All Tasks', tasks_path, {class: 'link', method: :get, alt: 'all tasks button'}) %></li>


      </ul>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
