<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Task List</h1>
    <nav>
      <button><%= link_to "Add Task", new_task_path %></button>
      <br>
      <button><%= link_to "Show All Task", tasks_path %></button>
   </nav>
  </header>
  
  <body>
    <%= yield %>
  </body>
</html>
