<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>To Do List</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="<%= tasks_path %>">Task List</a></li>

          <%# practice link_to %>
          <li><%= link_to "Add a task", new_task_path %></li> 
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer>
    <p>All rights reserved</p>
  </footer>
</html>
