<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%# for forms %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1 class="title">Your Tasks</h1>
    <nav>
      <ul>
        <li><%= link_to "Create a task", new_task_path %></li>
        <li><a href="<%= tasks_path %>">All tasks</a></li>
        
        <%# <li><a href="/">Home</a></li>
        <li><a href="/tasks">Tasks list</a></li>
        <li><a href="/new_task_path">New Task</a></li> %>
      </ul>
      </nav>
  </header>
  <body>
  <%= yield %>
  </body>
  <footer>
    <p>All Rights Reserved</p>
  </footer>
</html>
