<!DOCTYPE html>
<html>
  <head>
    <title>Tasks List Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <section class="title"><h1>Tisk! Tisk! Task! </h1></section>
      <nav>
      <ul>
      <li><%= link_to "Home", "/", class: "link" %></li>
      <li><%= link_to "Tasks List", "/tasks", class: "link" %></li>
      <li><%= link_to "New Task", "/tasks/new", class: "link" %></li>
      <li><%= link_to "Delete Book", @book, method: :delete, class: "link" %></li>

      </ul>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
